<div class="contact-popup-overlay">
    <section class="contact-popup">
        <form accept="" method="post" class="popup-form">
            <div class="popup-form__field-wrapper">
                <div class="popup-form__filed">
                    <input id="name-input" class="popup-form__input" type="text" placeholder="Ivan Ivanov">
                    <label for="name-input">Name</label>
                </div>
                <div class="popup-form__filed">
                    <input id="phone-input" class="popup-form__input" type="text" placeholder="">
                    <label for="phone-input">Phone</label>
                </div>
            </div>

            <div class="popup-form__filed">
                <input id="email-input" class="popup-form__input" type="email" placeholder="">
                <label for="email-input">E-mail</label>
            </div>

            <div class="popup-form__filed">
                <textarea id="textarea" class="popup-form__input" rows="1"></textarea>
                <label for="textarea">Message</label>
            </div>
            <div class="popup-form__button-wrapper">
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
        <button type="button" class="button-close"><span class="visually-hidden">Close Popup</span></button>
    </section>
</div>