.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 33px;
  &__logo {
    min-width: 72px;

    @media (min-width: 1024px) {
      min-width: 142px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      min-width: 97px;
    }

    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
  &__nav {
    margin-right: auto;
    margin-left: 25px;
    @media (max-width: 800px) {
      display: none;
    }
  }
  &__nav-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    .link {
      font-size: 17px;
      line-height: 20px;
      font-weight: bold;
      color: #333333;
      text-decoration: none;
      &:hover {
        color: #008752;
      }
      &:active {
        color: #333333;
        opacity: 0.5;
      }
    }
  }
  &__nav-link {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__tel {
    margin-right: 24px;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    color: #95459a;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
  &__button-wrapper {
    width: 180px;
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__humburger {
    @media (min-width: 800px) {
      display: none;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(149, 69, 154, 0.9);
  z-index: 2;
  transform: translateX(-1000px);
  transition: transform .5s;
  display: none;
  &__open {
    transform: translateX(0);
  }
  &__conteiner {
    background: #eeeeee;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 100vh;
    padding: 27px 20px 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logo {
    min-width: 160px;
    margin-bottom: 25px;
  }
  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__nav-link {
    margin-bottom: 25px;
    a {
      text-decoration: none;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      color: #333333;
    }
  }
  &__tel {
    display: block;
    text-decoration: none;
    color: #95459A;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 10%;
    background: transparent;
    border: none;
  }
  .left-container {
    text-align: center;
  }

  @media (max-width: 767px) {
    display: block;
  }

}
