<header class="header container">
  <a href="/">
      <img class="header__logo" src="/static/images/logo.svg" alt="main logo" width="142px" height="64px">
  </a>
  <nav class="header__nav">
      <ul class="header__nav-list">
          <li class="header__nav-link"><a href="#" class="link">Catalog</a></li>
          <li class="header__nav-link"><a href="#" class="link">Servises</a></li>
          <li class="header__nav-link"><a href="#" class="link">Blog</a></li>
          <li class="header__nav-link"><a href="#" class="link">About us</a></li>
      </ul>
  </nav>
  <a class="header__tel" href="tel:7194319698">719-431-9698</a>
  <div class="header__button-wrapper">
      @@include('button/index.html', {
        "text": "qwesadasd",
        "tag": "a",
        "href": "/pages/contact"
      })
  </div>
</header>