$white: #FFFFFF;
$light-smoke:#eeeeee;

$smoke: #333333;
$light-black: #2C3036;

$green: #008752;
$light-green: #26CD8B;
$dark-green: #005232;

$purple: #95459A;
$light-purple: #D665DD;
$dark-purple: #722A77;

$blue: #00559D;
$light-blue: #60A7E3;
$dark-blue: #17354F;