.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
  @media (min-width: 1024px) {
    padding: 0 110px;
  }
}

// Подключение компонентов
@import "./media-mixins";
@import "./vars";
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./service/service";
@import "./chat/chat";
@import "./svg/svg";
@import "./map/map";
@import "./about/about";
@import "./banner/banner";
@import "./partners/partners";
@import "./popup/popup";
