<section class="partners container">
    <h2 class="visually-hidden">Our Partners</h2>
    <ul class="partners__list">
        <li class="partners__item">
            <a href="#"><img src="/static/images/partner-we-proudly-use.png" alt="green seal image"></a>
        </li>
        <li class="partners__item">
            <a href="#"><img src="/static/images/partner-issa-member.png" alt="issa member image"></a>
        </li>
        <li class="partners__item">
            <a href="#"><img src="/static/images/partner-insuarance.png" alt="insuarance image"></a>
        </li>
        <li class="partners__item">
            <a href="#"><img src="/static/images/partner-expertise.png" alt="expertise image"></a>
        </li>
        <li class="partners__item">
            <a href="#"><img src="/static/images/partner-chamber-of-commerce.png" alt="verified image"></a>
        </li>
        <li class="partners__item">
            <a href="#"><img src="/static/images/partner-satisfaction.png" alt="satisfaction garauted image"></a>
        </li>
        <li class="partners__item">
            <a href="#"><img src="/static/images/partner-24.png" alt="image 24"></a>
        </li>
        <li class="partners__item">
            <a href="#"><img src="/static/images/partner-core-training.png" alt="image core training"></a>
        </li>
        <li class="partners__item">
            <a href="#"><img src="/static/images/partnert-green-seal.png" alt="green seal image"></a>
        </li>
    </ul>
</section>