.map {
  margin-top: 68px;
  padding-top: 40px;
  padding-bottom: 133px;
  position: relative;
  // background-image: url('/static/images/map.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  &__wrapper {
    position: relative;
    padding-top: 50px;
    padding-right: 44px;
    padding-left: 44px;
    padding-bottom: 26px;
    background:$green;
    max-width: 380px;
    z-index: 2;
  }
  &__iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__company-name {
    margin: 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: $white;
  }
  &__address {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 18px;
    color: $white;
  }
  &__tel {
    font-size: 15px;
    line-height: 18px;
    color: $white;
    text-decoration: underline;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
  &__button-wrapper {
    margin-top: 23px;
  }
}
