<section class="poster">
    <div class="container">
        <div class="poster__wrapper">
            <h1 class="poster__title">The world’s leading cleaning company</h1>
            <div class="poster__button-wrapper">
                @@include('button/index.html', {
                "class": "poster__button button__secondary poster-button_js",
                "text": "Get a Free Estimate",
                "tag": "a",
                "href": "#"
                })
            </div>
        </div>
    </div>
</section>